body {
  font-family: Arial, sans-serif;
}
canvas {
  margin: 30px 0;
}
article h1 {
  color: #444;
  font-size: 30px;
  padding-bottom: 4px;
}
section.individual,
section.common {
  max-width: 1800px;
  min-width: 1800px;
}
section.common .small {
  width: 900px;
}
figure {
  margin: 30px 0;
}
figcaption,
h1 {
  padding: 0 30px;
}
figure figcaption {
  margin-top: 10px;
}
